* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: azure;

}

.text_Area {
    resize: none;
    width: 320px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
    margin-top: 4rem;
    padding: 1rem;
    box-shadow: 10px 10px 8px #888888;}

.shirts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 8px #888888;

}

.img_text {
    position: absolute;
    top: 13rem;
    width: 10vw;
    height: 5rem;
    padding: 0px;
}

.text_img {
    word-wrap: break-word;
}

.bold {
    font-weight: bold;
}

.images {
    width: 25rem;
}

.operations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    cursor: pointer;
}

.color_btns {
    padding: 1rem;
    cursor: pointer;
}

.operation_btn {
    padding: 0.4rem;
    cursor: pointer;
}

.textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.text_Area {
    align-items: center;
    padding: 0.2rem;
}

.Operation_box button{
    border-radius: 10rem;
}
.shirt_color button{
    border-radius: 10rem;

}
.header{
    display: flex;
    padding: 0.5rem;
    margin-top:1rem ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}